

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

html {
   background-color:#defbfd;
 }

body{
   font-family: 'Baloo Tammudu 2', cursive;
}

header {
   display: flex;
   background: lightskyblue;
   background-image: linear-gradient(to bottom, lightskyblue, #defbfd);
   width: 100%;
   align-items: center;
}

img {
   max-width: 100%;
   height: auto;
 }

 form {
   background-color: rgb(213, 239, 255);
   padding: 30px 40px;
 }

 .hidden-label {
   position: absolute;
   height: 0;
   width: 0;
   overflow: hidden;
   visibility: hidden;
 }

 input,
 select {
   font-family: Tahoma, sans-serif;
   font-size: 100%;
 }

 select {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
   border-radius: 0;
 }

 input[type="email"],
 input[type="password"],
 input[type="text"],
 input[type="number"],
 input[type="tel"],
 select {
   width: 100%;
   display: block;
   box-sizing: border-box;
   padding: 20px 10px;
   height: 40px;
   margin-bottom: 15px;
   border: 1px solid #d3dad9;
   outline: none;
 }

 input[type="email"]:focus,
 input[type="password"]:focus,
 input[type="text"]:focus,
 input[type="number"]:focus,
 input[type="tel"]:focus {
   border: 1px solid #5072cf;
   box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
 }

 input[type="submit"] {
   width: 100%;
   display: block;
   box-sizing: border-box;
   background-color: #7cced4;
   color: #fff;
   padding: 10px 0;
   border: 1px solid #5d8bb6;
   border-radius: 3px;
   outline: none;
   margin-bottom: 10px;
 }

 input[type="submit"]:hover,
 input[type="submit"]:focus {
   border: 1px solid #535e3b;
   background-color: #798a56;
 }



 .banner-description {
   position: absolute;
   top: 20px;
   right: 0;
   color: #FFF;
   background-color: rgba(0, 0, 0, .65);
   padding: 40px 50px;
 }

 @media screen and (max-width: 700px) {
    .banner-description,
    .image-container {
       width: auto;
       float: none;
       top: 0;
    }
 }

 @media screen and (max-width: 480px) {
    .image-container {
       position: absolute;
       padding: 0;
    }
 }

 header h4 {
   margin: 0px;
   margin-top: 40px;
   border-bottom: 1px solid black;
   font-weight: normal;
   font-size: 185%;
   text-align: center;
 }

 header h2 {
   padding-top: 30px;
   padding-left: 240px;
   box-sizing: border-box;
 }

 header h3 {
   padding-left: 180px;
   font-size: 185%;
 }

 p {
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 240px;
    padding-right: 240px;
 }

 .image-container {
    border-bottom: 1px solid black;
    margin-left: 80px;
    margin-right: 80px;
 }

 .learn-more {
   margin: 0;
   font-weight: normal;
   font-size: 155%;
   text-align: center;
   padding-bottom: 70px;
   padding-top: 60px;
   padding-left: 520px;
   padding-right: 520px;
 }

 input[type="button"] {
   width: 100%;
   display: block;
   box-sizing: border-box;
   background-color: #7cced4;
   color: #fff;
   padding: 10px 40px;
   border: 1px solid #5d8bb6;
   border-radius: 3px;
   outline: none;
   margin-bottom: 10px;

 }

 input[type="button"]:hover,
 input[type="button"]:focus {
   border: 1px solid #535e3b;
   background-color: #798a56;
 }

 .image-container {
   margin: auto;
 }

 footer {
   text-align: center;
   font-size: 90%;
   color: rgb(90, 90, 112);
   padding-bottom: 20px;
   padding-top: 10px;
 }

